.header {
  align-items: flex-end;
  background-color: blue;
  display: flex;
  height: 50vh;
  justify-content: center;
  padding: 2rem;
  background-image: url('../../assets/hero.jpg');
  background-size: cover;
}

.onboarding {
  align-items: center;
  display: flex;
  justify-content: center;
}

.signupButton {
  background-color: var(--primary-action);
  border-radius: 5px;
  border: var(--primary-background) 5px solid;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  padding: 10px 20px;
  text-decoration: none;
}
