.news {
  width: 100%;
  background-color: var(--primary-background);
  padding: 1rem 0 2rem;
}

.newsContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  align-items: stretch;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.header {
  font-weight: 300;
  padding-top: 1rem;
}
